 .navbar {
    background-color: #343a40;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding-left: 3rem;
    padding-right: 3rem;
}
.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: aliceblue;
}

.nav__form a{
    color: aliceblue;
    padding: 1rem; 
}
.nav__form a:hover{
    color: aqua;
    padding: 1rem; 
}
